.card-title > a {
    text-decoration: none;
    color: black;
}

.card-title > a:hover {
    color: #0d6efd;
}

p.card-text {
    font-size: 1rem;
    line-height: 1.2rem;
    color: gray;
    font-style: italic;
}

div.author {
    font-size: 0.8rem;
    color: gray;
    text-decoration: underline;
}
